<% include partials/details-head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <section class="main-container">

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"><%= walkin.company %></h1>
        <p class="lead blog-description"><%= walkin.position == ''? "Not specified" : walkin.position %></p>
        <p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Details Page - Top Responsive -->
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5482095998977489"
            data-ad-slot="1951093657"
            data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= walkin.location == ''? "Not specified" : walkin.location %></h2>
            <p class="blog-post-meta"><%= walkin.date %> by <a href="/">Walkins Hub</a></p>

            <blockquote>
              <p><strong>Education </strong><%= walkin.eligibility == ''? "Not specified" : walkin.eligibility%></p>
            </blockquote>
            <hr>
            <blockquote>
              <p><strong>Experience </strong><%= walkin.experience  == ''? "Not specified" : walkin.experience %></p>
            </blockquote>
            <h2>Job Description</h2>
            <p><%= walkin.jobDescription  == ''? "Not specified" : walkin.jobDescription %></p>
            <h3>Job Requirements</h3>
            <p><%= walkin.jobRequirements == ''? "Not specified" : walkin.jobRequirements %></p>
            <hr>
            <h3>Candidate Requirements</h3>
            <p><%= walkin.candidateProfile == ''? "Not specified" : walkin.candidateProfile%></p>
            <blockquote>
              <p><strong>Salary </strong><%= walkin.salary  == ''? "Not specified" : walkin.salary%></p>
            </blockquote>
            <blockquote>
              <p><strong>Last Date </strong><%= walkin.lastDate == ''? "Not specified" : walkin.lastDate %></p>
            </blockquote>
            <blockquote>
              <p><strong>Walkin Date </strong><%= walkin.walkinDate  == ''? "Not specified" : walkin.walkinDate %></p>
            </blockquote>
            <blockquote>
              <p><strong>Walkin Time </strong><%= walkin.walkinTime  == ''? "Not specified" : walkin.walkinTime %></p>
            </blockquote>
            <p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Details Page - Middle Responsive -->
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5482095998977489"
                data-ad-slot="6381293258"
                data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </p>
            <h3>How to Apply</h3>
            <% if (walkin.howToApply.indexOf("http")!= -1) { %>
                <p><a href="<%= walkin.howToApply %>" target="_blank">Click to Apply</a></p>
            <% } else {%>
                <p><%= walkin.howToApply == ''? "Check contact details" : walkin.howToApply %></p>
            <% } %>
            <hr>
            <blockquote>
              <p><strong>Company Website </strong><% if (walkin.website == ''){ %>"Not specified" <% }else{%><a href="http://<%= walkin.website %>" target="_blank"><%= walkin.website %></a><% }%></p>
            </blockquote>
            <h3>Contact Details</h3>
            <p><%= walkin.contactDetails == ''? "Check how to apply" : walkin.contactDetails %></b></p>
            <p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Details Page - Botton Responsive -->
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5482095998977489"
                data-ad-slot="2404350455"
                data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </p>
          </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About Company</h4>
            <p><%= walkin.companyProfile == ''? "Verify Company website" : walkin.companyProfile %></p>
          </div>
          <!--div class="sidebar-module">
            <h4>Suggested Jobs</h4>
            <ol class="list-unstyled" id="suggestedJobsList">
              
            </ol>
          </div-->
          <div class="sidebar-module">
            <h4>Follow Us</h4>
            <ol class="list-unstyled">
              <li><div class="fb-like" data-href="https://www.facebook.com/walkinshubindia" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
              <!-- <li><a href="https://www.linkedin.com/company/13430068/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li> -->
              <!-- <li><a href="https://www.facebook.com/walkinshubindia/" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li> -->
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/FollowCompany" data-id="13430068" data-counter="top"></script></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/scripts.ejs %>
    <!--% include partials/facebook.ejs %-->
    </section>
  </body>

  <!--script async type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/api/similarjobs/<%= walkin.location %>',
            type: 'GET',
            success: function(data) {
                $.each(data, function(i, obj) {
                    console.log(obj.position)
                    $('#suggestedJobsList').append(
                        '<li><a href="/walkin/'+ obj._id +'"">' +
                        '<b>' + obj.company + '</b> <b>(' + obj.location + ')</b>' +
                        '</a></li>'
                    );
                });
            },
            error: function(data) {
                console.log('woops!'); //or whatever
            }
        });
    });
</script-->
