<% include partials/head.ejs %>
<body>
<% include partials/nav.ejs %>
    <section class="main-container">
        <div class="container">
            <div class="form-inline">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <input id="location" class="form-control" placeholder="Location" aria-describedby="location">
                </div>
                <div class="form-check col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="form-check-label">
                    <input type="checkbox" id="fresher" class="form-check-input">
                        Fresher
                    </label>
                </div>
                <button type="submit" class="btn btn-success" onclick="searchByLocation()">Search</button>
            </div>
            <% if (walkins.length > 0) { %>
            <div class="row d-none d-md-block">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Posted On</th>
                                <th>Company</th>
                                <th>Position</th>
                                <th>Location</th>
                                <th>Experience</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var countDesktop = 0; walkins.forEach( walkin => { %>
                            <tr>
                                <td class="text-success"><%= walkin.date %></td>
                                <td><%= walkin.company %></td>
                                <td><%= walkin.position.substring(0,15) %></td>
                                <td><%= walkin.location.substring(0,15) %></td>
                                <td><%= walkin.experience %></td>
                                <td><a href="/walkin/<%= walkin._id %>">Details</a></td>
                            </tr>
                            <% if(countDesktop == 1){ %>
                                <tr>
                                    <td colspan="6">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-ej+6k-23-cl+uz"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="1284084448"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(countDesktop == 3){ %>
                                <tr>
                                    <td colspan="6">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-ej+6k-23-cl+uz"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="5518842921"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(countDesktop == 5){ %>
                                <tr>
                                    <td colspan="6">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-fg+5u+5t-fi+6r"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="9402247614"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </td>
                                </tr>
                            <% } %>
                            <% countDesktop++ }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-md-none d-lg-none d-xl-none"> 
                <div class="row">
                    <% var count = 0; walkins.forEach( walkin => { %>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <div class="card bg-light mb-3">
                                <div class="card-header text-info"><%= walkin.company %></div>
                                <div class="card-body">
                                    <p class="card-text text-info"><%= walkin.date %></p>
                                    <p class="card-text">Position: <%= walkin.position %></p>
                                    <p class="card-text">Location: <%= walkin.location %></p>
                                    <p class="card-text">Experience: <%= walkin.experience %></p>
                                    <p class="card-text"><a href="/walkin/<%= walkin._id %>" class="btn btn-sm btn-success">Details</a></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 1){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Top -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="5323401802"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 3){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Middle -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="8500708419"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 5){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Bottom -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="9949521456"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% count++ }); %>
                </div>
            </div>
            <% } else {  %>
                <h4>No job information is available right now. Please check back later.</h4>
            <% } %>
        </div>
    </section>
    <% include partials/scripts.ejs %>
    <% include partials/facebook.ejs %>
</body>

<% include partials/footer.ejs %>