<% include partials/head.ejs %>
<body>
<% include partials/nav.ejs %>
    <section class="main-container">
        <div class="container">
           <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row job-listing-row clearfix">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Main page - Top Responsive -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-5482095998977489"
                        data-ad-slot="6520894053"
                        data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <% if (walkins.length > 0) { %>
                <ul class="dataTable">
                    <div class="tableHeader">
                        <li class="tableRow">
                            <span>Date</span>
                            <span>Company</span>
                            <span>Position</span>
                            <span>Location</span>
                            <span>Experience</span>
                            <span>Details</span>
                        </li>
                    </div>
                    <div class="tableBody">
                        <% walkins.forEach( walkin => { %>
                            <li class="tableRow">
                                <span><%= walkin.date %></span>
                                <span><%= walkin.company %></span>
                                <span><%= walkin.position %></span>
                                <span><%= walkin.location %></span>
                                <span><%= walkin.experience %></span>
                                <span><a href="/walkin/<%= walkin._id %>">Details</a></span>
                            </li>
                        <% }); %>
                    </div>
                </ul>
                <% } else {  %>
                    <h4>No job information is available right now. Please check back later.</h4>
                <% } %>
            </div>
        </div>
    </section>
</body>

</html>
