<% include partials/head.ejs %>
<body>
<% include partials/nav.ejs %>
    <section class="main-container">
        <div class="container">
            <div class="form-inline">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <input type="text" class="form-control" id="location" aria-describedby="location" placeholder="Location">
                </div>
                <div class="form-check col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="form-check-label">
                    <input type="checkbox" id="fresher" class="form-check-input">
                    Fresher
                    </label>
                </div>
                <button type="submit" class="btn btn-success" onclick="searchByLocation()">Search</button>
            </div>
            <% if (walkins.length > 0) { %>
            <div class="row d-none d-md-block">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="dataTable">
                        <div class="tableHeader">
                            <li class="tableRow">
                                <span>Date</span>
                                <span>Company</span>
                                <span>Position</span>
                                <span>Location</span>
                                <span>Experience</span>
                                <span>Details</span>
                            </li>
                        </div>
                        <div class="tableBody">
                            <% var count = 0; walkins.forEach( walkin => { %>
                                <li class="tableRow">
                                    <span><%= walkin.date %></span>
                                    <span><%= walkin.company %></span>
                                    <span><%= walkin.position.substring(0,15) %></span>
                                    <span><%= walkin.location.substring(0,15) %></span>
                                    <span><%= walkin.experience %></span>
                                    <span><a href="/walkin/<%= walkin._id %>">Details</a></span>
                                </li>
                                <li class="tableRow">
                                <% if(count == 1){ %>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- Desktop Leaderboard Top -->
                                    <ins class="adsbygoogle"
                                        style="display:inline-block;width:728px;height:90px"
                                        data-ad-client="ca-pub-5482095998977489"
                                        data-ad-slot="8616613700"></ins>
                                    <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                <% } %>
                                </li>
                                <li class="tableRow">
                                <% if(count == 3){ %>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- Desktop Leaderboard Middle -->
                                    <ins class="adsbygoogle"
                                        style="display:inline-block;width:728px;height:90px"
                                        data-ad-client="ca-pub-5482095998977489"
                                        data-ad-slot="8233470327"></ins>
                                    <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                <% } %>
                                </li>
                                <li class="tableRow">
                                <% if(count == 5){ %>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- Desktop Leaderboard Bottom -->
                                    <ins class="adsbygoogle"
                                        style="display:inline-block;width:728px;height:90px"
                                        data-ad-client="ca-pub-5482095998977489"
                                        data-ad-slot="4275534707"></ins>
                                    <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                <% } %>
                                </li>
                            <% count++ }); %>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="d-md-none d-lg-none d-xl-none"> 
                <div class="row">
                    <% var count = 0; walkins.forEach( walkin => { %>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <div class="card bg-light mb-3">
                                <div class="card-header text-info"><%= walkin.company %></div>
                                <div class="card-body">
                                    <p class="card-text text-info"><%= walkin.date %></p>
                                    <p class="card-text">Position: <%= walkin.position %></p>
                                    <p class="card-text">Location: <%= walkin.location %></p>
                                    <p class="card-text">Experience: <%= walkin.experience %></p>
                                    <p class="card-text"><a href="/walkin/<%= walkin._id %>" class="btn btn-sm btn-success">Details</a></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 1){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Top -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="5323401802"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 3){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Middle -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="8500708419"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <% if(count == 5){ %>
                                <div class="card bg-light mb-3">
                                    <div class="card-header text-success"><b>Sponsored Job</b></div>
                                    <div class="card-body">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Mobile Bottom -->
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-8j+1w-dx+ec+gk"
                                            data-ad-client="ca-pub-5482095998977489"
                                            data-ad-slot="9949521456"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% count++ }); %>
                </div>
            </div>
            <% } else {  %>
                <h4>No job information is available right now. Please check back later.</h4>
            <% } %>
        </div>
    </section>
    <% include partials/scripts.ejs %>
    <% include partials/facebook.ejs %>
</body>

