<html lang="en">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5482095998977489",
            enable_page_level_ads: true
        });
    </script>
    <meta charset="UTF-8">
    <title>Jobs | Walk-ins | Placement | Career | Recruitment | Fresher Jobs</title>
    <meta name="description" content="Most trusted jobs listing. Genuine and verified walk-in interviews information for freshers and experienced professionals." />
    <meta name="keywords" content="Jobs for 2017 passed out, 2017 passed out, 2017 batch jobs, 2017 freshers, Jobs for 2016 passed out, 2016 passed out, 2016 batch jobs, 2016 freshers, Fresher Offcampus,Fresher referral,Jobs,Walkins,Fresher jobs, Fresher Placements, Fresher walkins,Software jobs, Today walkins,Backdoor jobs,Referral jobs,Home based jobs,Today jobs, Jobs in Bangalore, Walkins in Bangalore, Fresher Jobs in Bangalore, Fresher Walkins in  Bangalore, Online Jobs in Bangalore, Today Walkins in Bangalore, Today jobs in Bangalore , Jobs in Hyderabad, Walkins in Hyderabad, Fresher Jobs in Hyderabad, Fresher Walkins in  Hyderabad, Online Jobs in Hyderabad, Today Walkins in Hyderabad, Today jobs in Hyderabad,Jobs in Chennai, Walkins in Chennai, Fresher Jobs in Chennai, Fresher Walkins in  Chennai, Online Jobs in Chennai, Today Walkins in Chennai, Today jobs in Chennai,Work from home jobs,networking jobs, Data entry jobs, medical coding jobs, freelancing, make money online"
    />
    <meta name="application-name" content="WalkinsHub - Best choice for walk-in interviews." />
    <meta name="copyright" content="2017 www.walkinshub.com" />
    <meta name="content-language" content="EN" />
    <meta name="author" content="walkinshub team" />
    <meta name="distribution" content="GLOBAL" />
    <meta name="robots" content="ALL" />
    <meta name="pragma" content="no-cache" />
    <meta name="revisit-after" content="1 day" />
    <meta name="classification" content="Jobs, Career, Freshers jobs, Bank Jobs, IT Jobs, Technical Jobs, Govt Jobs" />
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1646263562333117" />
    <meta property="og:title" content="Let us help reinvent your career. Search job openings at WalkinsHub." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.walkinshub.com" />
    <meta property="og:description" content="Find all the Student / Fresh Graduate / No Experience jobs and career opportunities in India. New immediate vacancies for fresh graduates, junior level Jobs in India are available today on WalkinsHub." />
    <meta property="og:image" content="http://quizinsight.com/images/which-career-should-I-choose/quiz600.jpg" />
    <meta property="og:image:type" content="jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="google-site-verification" content="dtN_8kSuZli5X3rJSr_lwToXx9CCr9KApWcOWCxcNCs" />
    <meta name="google-site-verification" content="dBwBXSsbGMxqwYBck9yEKz72TAuSugQEpVsQEdh1824" />
    <!--script async src="//connect.facebook.net/en_US/sdk.js"></script-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="../styles.css">
    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

    <script async type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91328157-1', 'auto');
        ga('send', 'pageview');

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand hvr-underline-from-center" href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i> Walkins Hub</a>
            </div>

            <div class="collapse navbar-collapse" id="navigationbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/contact" class="hvr-underline-from-center" title="Contact"><i class="fa fa-at" aria-hidden="true"></i> Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about" class="hvr-underline-from-center" title="About"><i class="fa fa-question-circle" aria-hidden="true"></i> About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/feedback" class="hvr-underline-from-center" title="Feedback"><i class="fa fa-comment" aria-hidden="true"></i></i> Feedback</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container top-buffer bottom-buffer">
        <div class="row top-buffer-small">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-buffer-small">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle form-control" id="cities" type="button" data-toggle="dropdown">Where are you?
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="cities" style="width: 350px; height: 300px; overflow: auto">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/hyderabad"><h4>Hyderabad<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/bangalore"><h4>Bangalore<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/chandigarh"><h4>Chandigarh<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/chennai"><h4>Chennai<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/coimbatore"><h4>Coimbatore<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/delhi"><h4>Delhi<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/gurgaon"><h4>Gurgaon<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/jaipur"><h4>Jaipur<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/kochi"><h4>Kochi<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/mumbai"><h4>Mumbai<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/noida"><h4>Noida<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/pune"><h4>Pune<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/trivandrum"><h4>Trivandrum<h4></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-buffer-small">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle form-control" id="cities" type="button" data-toggle="dropdown">Your Exp?
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="cities" style="width: 350px; height: 300px; overflow: auto">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/fresher"><h4>Fresher<h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/experienced"><h4>Experienced<h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row top-buffer-small">
            <h1 class="text-center"><%= jobsType.toUpperCase() %></h1>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- responsive ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5482095998977489" data-ad-slot="2404350455" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <% if( walkins.length == 0){ %>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info text-center">
                    No job information is available right now. Please check back later.
                </div>
            </div>
            <% } %>
                <% for(var i=0; i<walkins.length; i++) {%>
                    <% if( i==1){%>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-md hidden-lg top-buffer-small">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- mobile top -->
                            <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5482095998977489" data-ad-slot="9693834453"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <% }%>
                            <% if( i==4){%>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- responsive ads -->
                                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5482095998977489" data-ad-slot="2404350455" data-ad-format="auto"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                                <% } %>
                                    <% if( i==8){%>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                            <!-- responsive ads -->
                                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5482095998977489" data-ad-slot="2404350455" data-ad-format="auto"></ins>
                                            <script>
                                                (adsbygoogle = window.adsbygoogle || []).push({});
                                            </script>
                                        </div>
                                        <% } %>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 top-buffer-small">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" itemscope itemtype="http://schema.org/JobPosting">
                                                        <p><b class="small">Posted On:</b> <b class="small text-danger" itemprop="datePosted"> <%= walkins[i].date.substring(0,10) %> </b></p>
                                                        <%if (walkins[i].walkinDate == '') { %>
                                                            <p><b class="small">Interview Date:</b> <b class="small small text-danger">Check Details</b></p>
                                                            <% } else {%>
                                                                <p><b class="small">Interview Date:</b> <b class="small text-danger"><%= walkins[i].walkinDate.substring(0,22) %></b></p>
                                                                <% } %>
                                                                    <h2><b class="small" itemprop="hiringOrganization"><%= walkins[i].company.substring(0,18) %></b></h2>
                                                                    <p class="small" itemprop="title">
                                                                        <%= walkins[i].position.substring(0,35) %>
                                                                    </p>

                                                                    <p><b class="small" itemprop="jobLocation"><%= walkins[i].location.substring(0,25) %></b> <i class="pull-right" itemprop="experienceRequirements"><%= walkins[i].experience %></i></p>
                                                                    <!--a class="card-1 btn btn-primary btn-md pull-right" itemprop="url" href="/walkin/<%= walkins[i]._id %>">Job Details</a-->
                                                                    <!--a href="whatsapp://send?text=Walk-in interviews in <%= walkins[i].company %>, <%= walkins[i].location %> http://www.walkinshub.com/walkin/<%= walkins[i]._id %>" data-action="share/whatsapp/share" data-href="" class="btn btn-lg btn-success hidden-md hidden-lg"><i class="fa fa-whatsapp" aria-hidden="true"></i></a-->
                                                                    <!--div class="fb-like" data-layout="button_count" data-action="like" data-href='http://www.walkinshub.com/walkin/<%= walkins[i]._id %>' data-size="small" data-show-faces="false" data-share="true"></div-->
                                                                    <div class="clearfix"></div>
                                                    </div>
                                                    <a href="/walkin/<%= walkins[i]._id %>">
                                                        <div class="panel-footer">
                                                            <span class="pull-left"><b>Job Details</b></span>
                                                            <span class="pull-right text-default"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <% } %>
    </div>
    </div>

    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="social-media-icons col-xs-12">
                        <ul class="list-inline col-xs-12">
                            <a href="http://www.facebook.com/sharer.php?u=http://www.walkinshub.com/" target="_blank" title="Zuck It"><i class="fa fa-facebook-square fa-3x"></i></a>
                            <a href="https://plus.google.com/share?url=http://www.walkinshub.com/" target="_blank" title="Google It"><i class="fa fa-google-plus-square fa-3x"></i></a>
                            <a href="https://twitter.com/share?url=http://www.walkinshub.com/&amp;text=Walkins%20Hub&amp;hashtags=walkinshub" title="Chirp Chirp"><i class="fa fa-twitter-square fa-3x"></i></a>
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.walkinshub.com/" target="_blank" title="Link It"><i class="fa fa-linkedin-square fa-3x"></i></a>
                            <a href="whatsapp://send?text=Walk-in interviews,  http://www.walkinshub.com/" data-action="share/whatsapp/share" data-href="" class="hidden-md hidden-lg" title="Wassup">
                                <i class="fa fa-whatsapp fa-3x"></i>
                            </a>
                            <p><b>Spread the word</b></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <% if (user == undefined ) { %>
        <script type="text/javascript">
            $(document).ready(function() {
                setTimeout(function() {
                    $("#subscribeModal").modal('show');
                }, 3000);
            });
        </script>

        <div id="subscribeModal" class="modal fade">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Follow us on Facebook</h4>
                    </div>
                    <div class="modal-body">
                        <div class="fb-page" data-href="https://www.facebook.com/walkinshubindia" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/walkinshubindia" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/walkinshubindia">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</body>

</html>
